body{
	background-color: #e7e5e4;
}

h1{
	font-family: 'Rubik', sans-serif;
	font-size: 40px;
	padding-left:650px;
	font-color:#000000;
}

h2{
	font-family: 'Rubik', sans-serif; 
	font-size: 30px;
}

/* buttons */
a{
	font-family: 'Lora', serif;
	font-size: 17px;
	color: #737373;
	text-decoration: none;
}

a:hover{
	font-family: 'Lora', serif;
	font-size: 17px;
	color: #9f9793;
}

a:active{
	color: grey;
}

#home{
	padding-left: 540px;
}

#gallery{
	padding-left: 50px;
}

#about{
	padding-left: 40px;
}

/* flex */
.container {
 width: 1000px;
}

/* images */
img{
	width:500px;
	height:350px;
	padding-left:465px;
	padding-top:20px;
	padding-bottom:20px;
	transition: .5s ease;
}

img:hover{
	width:800px;
	height:650px;
	padding-left:350px;
}
