<!DOCTYPE html>
<html>
<head>
	<title> Denise Chen </title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Lora|Rubik" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1> About & Contact </h1>

		<div class="button">
			<a id="home"href= "../index.html"> Home </a>

			<a id="gallery" href="../templates/gallery.html"> Gallery </a>

			<a id="about" href="../templates/about.html"> About & Contact </a>
		</div>

		<br>
		<br>
		
			<p> Hi! I'm a college student who likes to travel. 

			<br> 
				Here are some pictures that I took this summer. </p>

			<p> Find me Here: </p>
		
			<div class="link">
			
				<a href="https://www.instagram.com/dcxcmx/" target="_blank"> Instagram </a> 
			</div>

			<div class="link">
				<a href="mailto:denise.chen359@gmail.com"> Email </a>
			</div>
		<br>
		<br>

		<h2> Images from Macau Coming Soon... </h2>
		<div class="images">
			<img id="slide-1"src="../images/macau.jpeg"
			alt="A street in Macau with colorful buildings">

			<img id="slide-2" src="../images/macau2.jpeg" 
			alt="St. Paul's Ruins in Macau">

			<img id="slide-3" src="../images/macau4.jpeg"
			alt="A street in Macau">

			<img id="slide-4" src="../images/macau6.jpeg"
			alt="St. Dominic's Church in Macau">
    	</div>
    </div>
</body>
</html>