<!DOCTYPE html>
<html>
<head>
	<title> Denise Chen </title>
	<link rel="stylesheet" type="text/css" href="../css/gallery.css">
	<link href="https://fonts.googleapis.com/css?family=Lora|Rubik" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1> Gallery </h1>

		<div class="button">
			<a id="home"href= "../index.html"> Home </a>

			<a id="gallery" href="../templates/gallery.html"> Gallery </a>

			<a id="about" href="../templates/about.html"> About & Contact </a>
		</div>

		<div class="images">
			<img id="img-1"src="../images/china5.jpeg"
			alt="Traffic sign by empty road">
				

			<img id="img-2"src="../images/china6.jpeg"
			alt="Empty alley with grape vines overhead">

			<img id="img-3"src="../images/china7.jpeg"
			alt="Two high rise buildings">

			<img id="img-7"src="../images/china12.jpeg"
			alt="View of Guangzhou from the bubble tram atop Canton Tower">

			<img id="img-8"src="../images/china13.jpeg"
			alt="String lights and mini country flags adorning the ceiling">

			<img id="img-9"src="../images/china14.jpeg"
			alt="A restaurant by the river">

			<img id="img-4"src="../images/china9.jpeg"
			alt="View of buildings in Shenzhen">

			<img id="img-5"src="../images/china10.jpeg"
			alt="Boats by a river">

			<img id="img-6"src="../images/china11.jpeg"
			alt="More boats by a river">
		</div>
	</div>
</body>
</html>